
.shopSectionCont{
    margin: 7px auto;
}

.sectionTitle{
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.moreCont{
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    padding: 0 4%;
}

.more{
    display: inline-block;
    padding: 2px 0;
}

.more:hover{
    cursor: pointer;
}

@media all and (950px >= width >=700px) {
    .moreCont{
        padding: 0 7%;
    }
}

@media all and (700px >= width) {
    .moreCont{
        padding: 0 12%;
    }
}

