.storeCardCont {
    height: 330px;
    margin: 0;
}

.cardItems {
    position: relative;
    width: 100%;
    height: 92%;
    border: 1px solid #000;
}

.cardItems:hover {
    filter: brightness(120%);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardButton {
    text-transform: uppercase;
    opacity: 0;
    font-size: 12px;
    transition: all 0.3s;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 17.5%;
    background-color: #000;
    border: 1px solid #fff;
    padding: 7px;
    width: 65%;
}


.cardItems:hover .cardButton {
    opacity: 1;
}


.itemDescription {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    font-weight: 420;
}

.categorizedCard{
    margin-bottom: 3%;
}

.cartCard {
    height: 100%;
    padding: 2.5% 5.5%;
}

.cartBoxCard{
    height: 100%;
    padding: 2%;
}


.cartCard button,
.cartBoxCard button,
.cartCard .itemDescription,
.cartBoxCard .itemDescription{
    display: none;
}

.cartCard,
.cartBoxCard .cardItems{
    border: none;
    height: 100%;
}

.cartCard,
.cartBoxCard
.cardItems:hover {
    filter: unset
}

@media all and (950px >= width >= 700px){
    .cartCard {
        padding: unset;
    }

    .hideCard{
        display: none;
    }
}

@media all and (width <= 700px){
    .cartCard {
        padding: 1% 0;
    }

    .storeCardCont{
        padding: 5px ;
    }

    .cartCard img{
        object-position:  0;
    }

    .cartCard .cardItems{
        border: 0.5px solid #000;
    }
}
