.loginPageCont{
    display: flex;
    justify-content:center;
    align-items: baseline;
    height: 80vh;
    margin:auto;
}


@media (max-width: 480px){

    .loginPageCont{

        height:95vh;
        
    }
}
