.btn {
  padding: 7px;
  margin: auto;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: 1px solid #000;
  background-color: #000;
}

.btn a{
  display: none;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  filter: brightness(120%);
}

.cartBoxButton{
  width: 90%;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  margin: auto;
  font-size: 0.8rem;
}

.cartBoxButton:hover{
  background: #fff;
  color: #000;
  
}

.checkout{
  background:#1DA1F2;
  border:0.5px solid #000;
  color: #000;
  margin-right:18%;
  padding: 0.5%;
  border-radius: 5px;
  text-transform: capitalize;
}
.link span{
  display: none;
}

.link a{
  display: unset;
}

@media all and (width<=950px) {
  .checkout{
    margin-right: unset;
  }
}

@media all and (width<=700px) {
  .cartBoxButton{
    font-size: 0.7rem;
  }
}

