.bagContainer {
    display: inline-block;
    padding: 5px;
    position: relative;
}

.bigBag {
    font-size: 2.2rem;
    margin: auto;
    padding: 5px;
}

.total {
    display: inline-block;
    position: absolute;
    font-size: 11px;
    top: 35.5%;
    left: 35.5%;
    bottom: 50%;
    font-weight: 700;
}

.bagContainer:hover{
    cursor: pointer;
}

.smallBag {
    padding: 5px;
    font-size: 2rem;
    display: none;

}

.cartItems {
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 250px;
    border: 1px solid #fff;
    bottom: 50%;
    top: -10%;
    right: 100%;
    left: -320%;
    z-index: 5;
    color: #fff;
    background: #000;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

.showCartBox {
    visibility: visible;
    opacity: 1;
    top: 130%;
    bottom: 0;
}

.itemsExternalCont::-webkit-scrollbar {
    width: 5px;
}

.itemsExternalCont::-webkit-scrollbar-track {
    background: #0c0c0c;
}

.itemsExternalCont::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 10px;
}

.itemsExternalCont::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.itemsExternalCont {
    overflow-y: scroll;
    height: 83%;
    width: 100%;
    position: relative;
}

.itemsExternalCont:hover{
    cursor: default;
}

.iDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7% 0;
}

.itemName,
.itemPrice {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    text-transform: capitalize;
}

.itemPrice {
    font-size: 0.7rem;
}

.itemsCont {
    margin: 0;
    padding: 0;
    height: 40%;
}

.emptyCart{
    display: inline-block;
    margin-top: 20%;
    font-size: 1rem;
}

@media all and (max-width: 700px) {
    .bagContainer {
        margin: auto;
    }

    span .largeScreen {
        display: none;
    }

    .bigBag {
        display: none;
    }

    .total {
        left: 41%;
    }

    .smallBag {
        display: block;
    }

    .cartItems {
        left: -280%;
        width: 150px;
    }

}