.signInCont {
  text-align: center;
  width: 65%;
  height: 70vh;
  margin: 3% auto;
  box-shadow: -3px 3px 14px -5px rgba(13,13,13,0.75);
  background-color: #FFFFFF;
}

.FormTitle{
  padding-top: 75px;
  font-size: 30px;
  font-weight: 600;
}

.buttonsCont {
  padding:7% 35%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  height: 60%;
}

.buttonsCont button {
  text-transform: capitalize;
  border-radius: 20px;
  margin: 10% auto;
}

@media all and (950px >=width >=770px) {
  .signInCont {
    padding: 10%;
    height: 50vh;
    margin-top: 20%;
    border-radius: 8px;
  }

  .buttonsCont {
    padding-left: 20%;
    padding-right: 20%;
    height: 50%;
  }
  
  .buttonsCont button {
    font-size: 35px;
    border-radius: 16px;
  }
}

@media all and (770px >=width >= 600px) {
  .signInCont {
    padding: 10%;
    padding-top: 6%;
    height: 50vh;
    margin-top: 20%;
  }

  .buttonsCont {
    padding-left: 20%;
    padding-right: 20%;
    height: 50%;
  }

}

@media all and (width <=600px) {
  .signInCont {
    box-shadow: unset;
    padding: 0;
    width: 85%;
    height: 50vh;
    margin-top: 48%;
    border-radius: 8px;
  }

  .buttonsCont {
    padding: 7%;
  }

  .buttonsCont button {
    border-radius: 13px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media all and (width <=320px) {
  .buttonsCont button {
    font-size: 5px;
  }
}