.btnContainer {
    position: relative;
    display: block;
    text-align: left;
    color: rgb(39, 39, 39);
    width: auto;
    padding: 0;
    margin: 30px auto;
    border-bottom: 1px solid rgb(116, 114, 114);
}

.input {
    min-width: 70%;
    font-weight: 570;
    margin: 0;
    padding-left: 7px;
    outline: none;
    border: none;
}

.label {
    text-transform: capitalize;
    display: inline-block;
    font-size: 0.9rem;
    bottom: 0;
    color:rgb(116, 114, 114);
    transition: bottom 0.3s;
}

.blur {
    position: absolute;
    bottom: 25px;
}

@media all and (width <= 700px) {
    .input {
        min-width: unset;
        width: auto;
    }
}

@media all and (width <= 320px) {
    .blur{
        position: unset;
    }

    .btnContainer {
        overflow: hidden;
    }
}