.smallScreenBarCont{
    display: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.1% 5% 0.1% 0.1%;
}

.iconSpan{
    margin: auto;
    text-align: center;
}

.searchIcon {
    margin-top: 5px;
    font-weight: bolder;
    font-size: 20px;
}

.togglesCont{
    display: flex;
    align-items: center;
}

.svgImage {
  width: 100px;
  height: 70px;
  fill: #FF0000; /* Change the fill color of SVG elements */
}


.toggleItem{
    font-size: 1.5rem;
    display: inline-block;
    padding: 0.5rem;
}

@media all and (max-width: 700px) {
    .smallScreenBarCont{
        margin-top: 0;
        display: flex;
        top:0;
        position: fixed;
        z-index: 10;
        background: #fff;
        border-bottom: 1px solid #000;
    }
}