.storeCardCont {
    height: 330px;
}

.cardItems {
    position: relative;
    width: 100%;
    height: 92%;
    border: 1px solid #000;
}

.cardItems:hover {
    filter: brightness(120%);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardButton {
    text-transform: uppercase;
    opacity: 0;
    font-size: 12px;
    transition: all 0.3s;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 17.5%;
    background-color: #000;
    border: 1px solid #fff;
    padding: 7px;
    width: 65%;
}


.cardItems:hover .cardButton {
    opacity: 1;
}


.itemDescription {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
}


.cartCard {
    height: 100%;
    padding: 2.5% 5.5%;
}

.cartCard 
button,
.itemDescription{
    display: none;
}

.cartCard .cardItems{
    border: none;
    height: 100%;
}

.cartCard .cardItems:hover {
    filter: unset
}

@media all and (950px >= width >= 700px){
    .cartCard {
        padding: unset;
    }
}

@media all and (width <= 700px){
    .cartCard {
        padding: 1% 3%;
    }

    .cartCard img{
        object-position:  0;
    }

    .cartCard .cardItems{
        border: 0.5px solid #000;
    }
}
