
  .btn {
    padding: 10px;
    margin: auto;
    transition: all 0.3s;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #000;
  }
  
  .btn:hover {
    filter: brightness(90%);
  }
   
  /* @media all and (max-width: 800px) {
    .btn {
     font-size: 1rem;
  
    }
  }
  
  @media all and (max-width: 656px) {
    .btn {
      padding: 0px 10px;
      font-size: 1.1rem;
    }
  } */